/* #box {
    background-color: rgba(32,32,32,0.5);
    border-radius: 5px;
    color: white;
    display: block;
    padding: 1.25rem;
    height: 100vh
  } */

  #title {
    color: white;
  }

  #controlBox {
    display: flex;
    flex-direction: row;
  }

  #due {
    background: hsl(217, 71%, 53%);
  }

  #status {
    margin-right: 5px;
  }

  ul {
    list-style-type: none;
  }

