/* #box {
    background-color: rgba(32,32,32,0.5);
    border-radius: 5px;
    color: white;
    display: block;
    padding: 1.25rem;
    height: 100vh
  } */

  #title {
    color: white;
  }

  #subtitle {
    color: white;
    font-weight: 400;
    margin-top: 20px;
  }

  #controlBox {
    display: flex;
    flex-direction: row;
  }

  #due {
    background: hsl(217, 71%, 53%);
  }

  #status {
    margin-right: 10px;
    /* due: */
    /* color: hsl(217, 71%, 53%); */
    /* urgent: */
    /* color: hsl(48, 100%, 67%); */
    /* past due: */
    /* color: hsl(348, 100%, 61%); */
    /* done: */
    color: hsl(0, 0%, 98%);
  }

  #chores {
    list-style-type: none;
    /* padding: 5px; */
    /* margin-left: 5px; */
  }

  #datePicker {
    width: 400px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: 400 11px system-ui;

  }

