@media only screen and (min-width: 451px) {
.tbh-row {
    display: flex;
    color: #ffffff;
    text-align: center;
    margin: 80px 0;
    width: 90%;
  }
  
  .tbh-card-item {
    flex-grow: 1;
    font-size: 6mm;
  }

  img.tbh-card-item {
    width: 80px;
  }
}

@media only screen and (max-width: 450px) {
  .tbh-row {
    display: flex;
    /* font-size: 20px; */
    color: white;
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    width: 90%;
  }
  
  .tbh-card-item {
    flex-grow: 1;
    font-size: 1.3rem;
    margin: 0px 20px;
  }

}